/* variables */
.custom-modal .modal-header, .custom-modal .contact-detal-dv .info-list li, .custom-modal .modal-footer, .login-sec, .logo-bx, .dash-panel-sec, .top-side-bx .contacts, .sidebar-links-bx .link-ul li a, .dash-content-box .content-top-bx, .dash-content-box .right-links, .search-dv #search_form, .folder-grid-bx, .folder-name-sec {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }

.login-sec, .dash-panel-sec, .dash-content-box .content-top-bx, .folder-name-sec {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap; }

.logo-bx {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column; }

/* common class */
body {
  font-size: 0.875rem;
  line-height: 2rem;
  font-family: 'Poppins', sans-serif;
  color: #434343; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
  font-weight: 500; }

h1, .h1 {
  font-size: 2rem; }

h2, .h2 {
  font-size: 1.5rem; }

h3, .h3 {
  font-size: 20px; }

h4, .h4 {
  font-size: 1rem; }

a {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  outline: none;
  display: inline-block;
  text-decoration: none;
  color: #434343; }
  a:hover, a:focus {
    text-decoration: none;
    color: #7e4dce; }

button {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  button:hover, button:focus {
    outline: none; }

img {
  max-width: 100%; }

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem; }

.text-gray {
  color: #e7e9eb; }

.text-white {
  color: #ffffff; }

.bg-gray {
  background-color: #e7e9eb; }

.bg-black {
  background-color: #434343; }

.common-sec {
  padding: 3rem 0; }

.common-btn {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 0;
  border: 1px solid #7e4dce;
  background-color: #7e4dce;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  min-width: 150px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 1; }
  .common-btn:hover, .common-btn:focus {
    color: #ffffff;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
    -ms-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3); }

.row-5 {
  margin: 0 -5px; }
  .row-5 [class*="col-"] {
    padding: 0 5px; }

.form-control {
  height: auto;
  padding: 14px 15px;
  border: 1px solid #c1c1c1;
  border-radius: 0;
  font-size: 14px;
  outline: none; }
  .form-control:hover, .form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-shadow: none;
    box-shadow: none; }
  .form-control:focus {
    border-color: #7e4dce; }

.custom-form-sec .input-bx {
  margin-bottom: 1.5rem;
  position: relative; }
  .custom-form-sec .input-bx input, .custom-form-sec .input-bx textarea {
    border-width: 0;
    border-bottom-width: 1px; }
  .custom-form-sec .input-bx label {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    color: #434343;
    line-height: 16px;
    padding: 0 5px;
    pointer-events: none;
    transition: 0.5s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .custom-form-sec .input-bx input:focus + label,
  .custom-form-sec .input-bx textarea:focus + label {
    top: -8px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
.custom-form-sec .input-bx.floating label {
  top: -8px;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.icon-form .row {
  position: relative;
  padding-left: 1.5rem; }
  .icon-form .row:before {
    content: '';
    height: 24px;
    width: 24px;
    position: absolute;
    left: 0;
    top: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
.icon-form .folder-icon:before {
  background-image: url(../img/folder.png); }
.icon-form .user-icon:before {
  background-image: url(../img/user-gray.png); }
.icon-form .company-icon:before {
  background-image: url(../img/company.png); }
.icon-form .email-icon:before {
  background-image: url(../img/email.png); }
.icon-form .phone-icon:before {
  background-image: url(../img/phone.png); }
.icon-form .password-icon:before {
  background-image: url(../img/password.png); }
.icon-form .url-icon:before {
  background-image: url(../img/url.png); }

.custom-modal .modal-header {
  align-items: center;
  border-bottom: none; }
  .custom-modal .modal-header .close {
    margin: 0;
    padding: 0; }
.custom-modal .modal-title {
  font-weight: 300; }
.custom-modal .modal-body {
  padding: 0 4rem 3rem; }
.custom-modal .contact-detal-dv .info-list {
  margin-left: 1rem; }
  .custom-modal .contact-detal-dv .info-list li {
    margin-bottom: 0.5rem; }
    .custom-modal .contact-detal-dv .info-list li .icon {
      margin-right: 1rem;
      width: 24px;
      height: 24px; }
.custom-modal .modal-footer {
  justify-content: space-between; }

.tick-bx {
  position: relative; }
  .tick-bx .input-tick {
    width: 24px;
    margin-right: 5px;
    position: relative; }
    .tick-bx .input-tick input[type="checkbox"] {
      visibility: hidden; }
    .tick-bx .input-tick label {
      border: 1px solid #434343;
      border-radius: 3px;
      cursor: pointer;
      height: 18px;
      width: 18px;
      left: 0;
      position: absolute;
      top: 0;
      margin-bottom: 0; }
      .tick-bx .input-tick label:after {
        border: 2px solid #7e4dce;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 3px;
        opacity: 0;
        position: absolute;
        top: 4px;
        transform: rotate(-45deg);
        width: 10px; }
    .tick-bx .input-tick input[type="checkbox"]:checked + label:after {
      opacity: 1; }
  .tick-bx .txt {
    width: calc(100% - 35px);
    line-height: 18px;
    text-align: left; }

.select-round {
  position: relative;
  display: inline-block;
  margin-bottom: 1.5rem; }
  .select-round:after {
    content: '\f107';
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 20px;
    top: 7px;
    font-size: 20px; }
  .select-round select {
    background: none;
    min-width: 100px;
    border-radius: 3rem;
    background: none;
    border: 1px solid #434343;
    padding: 0px 25px;
    font-weight: 300;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; }
    .select-round select:hover, .select-round select:focus {
      outline: none; }

.select-folder {
  position: relative;
  display: inline-block;
  margin-bottom: 1.5rem; }
  .select-folder button {
    background: none;
    min-width: 100px;
    border-radius: 3rem;
    background: none;
    border: 1px solid #434343;
    padding: 0px 25px 0 15px;
    font-weight: 300;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; }
    .select-folder button:hover, .select-folder button:focus {
      outline: none; }
    .select-folder button:after {
      content: '\f107';
      font: normal normal normal 14px/1 FontAwesome;
      position: absolute;
      top: 5px;
      font-size: 20px;
      border: none; }
  .select-folder .dropdown-menu {
    min-width: auto;
    right: 0;
    margin: 0;
    padding: 0; }
    .select-folder .dropdown-menu li a {
      padding: 0 15px; }

.table td, .table th {
  padding: 5px; }

.login-sec {
  height: 100vh;
  text-align: center;
  background-color: #7e4dce;
  background-image: url(../img/login-bg.jpg);
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center; }

.logo-bx {
  height: 120px;
  width: 120px;
  padding: 0.3rem;
  border-radius: 100%;
  background-color: #ffffff;
  margin: 0 auto 4rem;
  justify-content: center; }
  .logo-bx span {
    display: inline-block;
    line-height: 1rem; }

.login-form-dv {
  max-width: 550px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 4rem; }
  .login-form-dv h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 2.5rem; }
    .login-form-dv h2 span {
      display: block; }
  .login-form-dv .input-bx {
    margin-bottom: 1.5rem; }
  .login-form-dv .common-btn {
    width: 100%;
    padding: 0.5rem 1rem; }

.password-bx {
  position: relative; }
  .password-bx .eye {
    position: absolute;
    right: 15px;
    top: 7px;
    cursor: pointer;
    display: inline-block; }

.dash-panel-sec .dash-sidebar {
  width: 310px;
  -webkit-box-shadow: 2px 0px 20px 0px #f0f0fa;
  -moz-box-shadow: 2px 0px 20px 0px #f0f0fa;
  -ms-shadow: 2px 0px 20px 0px #f0f0fa;
  box-shadow: 2px 0px 20px 0px #f0f0fa;
  height: 100vh;
  overflow-y: scroll; }
.dash-panel-sec .dash-content-box {
  width: calc(100% - 310px);
  padding: 20px;
  height: 100vh;
  overflow-y: scroll; }
.dash-panel-sec .dash-sidebar::-webkit-scrollbar,
.dash-panel-sec .dash-content-box::-webkit-scrollbar {
  border-radius: none;
  -webkit-box-shadow: 0;
  width: 0; }
.dash-panel-sec .dash-sidebar::-webkit-scrollbar-track,
.dash-panel-sec .dash-content-box::-webkit-scrollbar-track {
  border-radius: none;
  -webkit-box-shadow: 0; }
.dash-panel-sec .dash-sidebar::-webkit-scrollbar-thumb,
.dash-panel-sec .dash-content-box::-webkit-scrollbar-thumb {
  border-radius: none;
  -webkit-box-shadow: 0; }

.top-side-bx {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #e7e9eb; }
  .top-side-bx .contacts {
    align-items: center;
    justify-content: center;
    line-height: 1.3rem;
    font-weight: 500; }
    .top-side-bx .contacts .icon {
      width: 40px;
      height: 40px;
      line-height: 35px;
      font-size: 1.5rem;
      text-align: center;
      display: inline-block;
      color: #ffffff;
      background-color: #7e4dce;
      border-radius: 100%;
      margin-right: 10px; }
    .top-side-bx .contacts .txt {
      width: calc(100% - 50px);
      font-size: 20px; }

.create-contact {
  padding: 5px; }
  .create-contact .c-contact-btn {
    width: 100%;
    background: none;
    border: none; }
    .create-contact .c-contact-btn .icon {
      vertical-align: 3px; }

.dash-sidebar-title {
  text-transform: uppercase;
  font-weight: normal; }
  .dash-sidebar-title span {
    font-size: 1rem; }

.sidebar-links-bx {
  padding: 1.5rem 1rem; }
  .sidebar-links-bx .link-ul {
    margin: 1rem -1rem 0; }
    .sidebar-links-bx .link-ul li {
      margin-top: 5px; }
      .sidebar-links-bx .link-ul li a {
        padding: 0.3rem 1rem;
        width: 100%;
        font-size: 0.875rem;
        border-left: 2px solid transparent; }
        .sidebar-links-bx .link-ul li a span {
          display: inline-block; }
        .sidebar-links-bx .link-ul li a .icon {
          margin-right: 1rem; }
        .sidebar-links-bx .link-ul li a .msg {
          margin-left: 0.5rem; }
        .sidebar-links-bx .link-ul li a:hover, .sidebar-links-bx .link-ul li a:focus, .sidebar-links-bx .link-ul li a.active {
          border-left-color: #7e4dce;
          background-color: #F2F3F3; }

.dash-content-box {
  padding: 1rem; }
  .dash-content-box .content-top-bx {
    align-items: center;
    margin-bottom: 1rem; }
    .dash-content-box .content-top-bx .search-dv {
      width: 100%;
      max-width: 600px; }
  .dash-content-box .right-links {
    margin-left: auto;
    text-align: right;
    justify-content: space-between; }
    .dash-content-box .right-links .admin-bx {
      border-style: none; }
      .dash-content-box .right-links .admin-bx button {
        background: none;
        border: none; }
        .dash-content-box .right-links .admin-bx button:after {
          content: none; }
      .dash-content-box .right-links .admin-bx .dropdown-menu {
        margin: 0;
        padding: 0;
        border: none;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(231, 233, 235, 0.9);
        -moz-box-shadow: 0px 0px 20px 0px rgba(231, 233, 235, 0.9);
        -ms-shadow: 0px 0px 20px 0px rgba(231, 233, 235, 0.9);
        box-shadow: 0px 0px 20px 0px rgba(231, 233, 235, 0.9); }
        .dash-content-box .right-links .admin-bx .dropdown-menu ul {
          margin: 0; }
          .dash-content-box .right-links .admin-bx .dropdown-menu ul li a {
            padding: 0.8rem;
            line-height: 1rem;
            display: block;
            border-bottom: 1px solid #e7e9eb; }
            .dash-content-box .right-links .admin-bx .dropdown-menu ul li a .icon {
              margin-right: 3px; }

.alfabet {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: #7e4dce;
  border-radius: 100%;
  text-align: center; }

.search-dv #search_form {
  background-color: #e7e9eb;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem; }
  .search-dv #search_form button {
    background: none;
    border: none;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 1.3rem;
    color: #434343;
    border-radius: 100%;
    margin-right: 1rem; }
    .search-dv #search_form button:hover, .search-dv #search_form button:focus {
      -webkit-box-shadow: 0 1px 3px 0px rgba(67, 67, 67, 0.3);
      -moz-box-shadow: 0 1px 3px 0px rgba(67, 67, 67, 0.3);
      -ms-shadow: 0 1px 3px 0px rgba(67, 67, 67, 0.3);
      box-shadow: 0 1px 3px 0px rgba(67, 67, 67, 0.3); }
  .search-dv #search_form input {
    background: none;
    border: none;
    width: calc(100% - 60px); }
    .search-dv #search_form input:hover, .search-dv #search_form input:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-shadow: none;
      box-shadow: none;
      outline: none; }

.dash-table table {
  color: #434343; }
  .dash-table table th {
    font-weight: 500; }
  .dash-table table thead th {
    border-bottom-width: 1px;
    border-top: none;
    font-size: 15px; }
  .dash-table table tbody tr.title-row th {
    border-bottom: none;
    text-transform: uppercase; }
    .dash-table table tbody tr.title-row th .title-msg {
      display: inline-block;
      line-height: 1.3rem;
      border-bottom: 2px solid #e7e9eb;
      font-size: 0.75rem;
      letter-spacing: 1px; }
  .dash-table table tbody tr.border-top-none td {
    border-top: none; }
  .dash-table table tbody tr td {
    font-size: 0.875rem;
    border-top: none; }
  .dash-table table tbody tr td:last-child {
    text-align: right; }
.dash-table .ed-btn {
  background: none;
  border: none;
  opacity: 0.5; }
  .dash-table .ed-btn img {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }
  .dash-table .ed-btn:hover, .dash-table .ed-btn:focus {
    opacity: 1; }
    .dash-table .ed-btn:hover img, .dash-table .ed-btn:focus img {
      -webkit-filter: none;
      filter: none; }
.dash-table .delete-btn {
  margin-left: 0.5rem; }

.folder-grid-bx {
  align-items: center;
  border-left: 4px solid #7e4dce;
  padding: 1.3rem 1rem;
  border-radius: 3px;
  -webkit-box-shadow: 2px 0px 20px 0px #eeeef9;
  -moz-box-shadow: 2px 0px 20px 0px #eeeef9;
  -ms-shadow: 2px 0px 20px 0px #eeeef9;
  box-shadow: 2px 0px 20px 0px #eeeef9; }
  .folder-grid-bx .txt-bx {
    padding-left: 0.5rem;
    width: calc(100% - 85px); }
    .folder-grid-bx .txt-bx .icon {
      margin-bottom: 0.3rem; }
    .folder-grid-bx .txt-bx .name {
      text-transform: uppercase;
      line-height: 1rem;
      font-size: 1.1rem;
      margin-top: 15px; }
  .folder-grid-bx .nmb {
    font-size: 2rem;
    width: 80px;
    margin-left: 5px;
    text-align: center; }

.folder-name-sec {
  justify-content: space-between; }
  .folder-name-sec .folder-info p {
    line-height: 1.2rem; }
  .folder-name-sec .opration .common-btn {
    margin-left: 1rem; }
  .folder-name-sec .opration .delete {
    background-color: #FF2B06;
    border-color: #FF2B06; }

.settings-sec {
  max-width: 500px; }
  .settings-sec .setting-title {
    font-weight: 300; }
  .settings-sec .row {
    margin: 0; }

@media (max-width: 767px) {
  .dash-content-box .content-top-bx .search-dv {
    width: 100%;
    margin-bottom: 1rem; } }

/*# sourceMappingURL=main.css.map */
