/* common class */
// font-family: 'Poppins', sans-serif;

body{
	font-size: 0.875rem;
	line-height: 2rem;
	font-family: 'Poppins', sans-serif;
	color: $color-site;
}
h1,h2,h3,h4,h5,h6{
	margin-bottom: 1.5rem;
	font-weight: 500;
}
h1,.h1{font-size: 2rem;}
h2,.h2{font-size: 1.5rem;}
h3,.h3{font-size: 20px;}
h4,.h4{font-size: 1rem;}
a{
	@include common-transition(all 0.3s ease-out);
	outline: none;
	display: inline-block;
	text-decoration: none;
	color: $color-site;
	&:hover,&:focus{
		text-decoration: none;
		color: $color-hover;	
	}
}
button{
	@include common-transition(all 0.3s ease-out);
	&:hover,&:focus{
		outline: none;
	}
}
img{max-width: 100%;}

ul{
	list-style: none;
	padding: 0;
	margin: 0 0 1rem;
}

.text-gray{color: $color-gray;}
.text-white{color: $color-white;}

.bg-gray{background-color: $color-gray;}
.bg-black{background-color: $color-site;}


.common-sec{
	padding: 3rem 0;
}
.common-btn{
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	border-radius: 0;
	border: 1px solid $color-hover;
	background-color: $color-hover;
	color: $color-white;
	text-transform: uppercase;
	position: relative;
	min-width: 150px;
	@include common-transition(all 0.3s ease-out);
	z-index: 1;
	&:hover,&:focus{
		color: $color-white;
		@include box-shadow(0px 10px 15px 0px rgba(0,0,0,0.3));
	}
}

.row-5{
	margin: 0 -5px;
	[class*="col-"]{
		padding: 0 5px;
	}
}

.form-control {
	height: auto;
	padding: 10px 15px;
	border: 1px solid #c1c1c1;
	border-radius: 0;
	outline: none;
	&:hover,&:focus{
		@include box-shadow(none);
	}
	&:focus{
		border-color: $color-hover;
	}
}

.custom-form-sec{
	.input-bx{
		margin-bottom: 1.5rem;
		position: relative;
		input,textarea{
			border-width: 0;
			border-bottom-width: 1px;
		}
		label{
			position: absolute;
			top: 50%;
			left: 0;
			margin: 0;
			color:$color-site;
			line-height: 16px;
			padding: 0 5px;
			pointer-events: none;
			transition: 0.5s;
			@include transform(translateY(-50%));
		}
		input:focus + label,
		textarea:focus + label{
			top: -8px;
			@include transform(translateY(0));
		}
	}
	.input-bx.floating{
		label{
			top: -8px;
			@include transform(translateY(0));
		}
	}
}

.icon-form{	
	.row{
		position: relative;
		padding-left: 1.5rem;
		&:before{
			content: '';
			height: 24px;
			width: 24px;
			position: absolute;
			left: 0;
			top:12px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
	.folder-icon:before{background-image: url(../img/folder.png);}
	.user-icon:before{background-image: url(../img/user-gray.png);}
	.company-icon:before{background-image: url(../img/company.png);}
	.email-icon:before{background-image: url(../img/email.png);}
	.phone-icon:before{background-image: url(../img/phone.png);}
	.password-icon:before{background-image: url(../img/password.png);}
	.url-icon:before{background-image: url(../img/url.png);}
}

.custom-modal{
	.modal-header{
		@extend %d-flex;
		align-items: center;
		border-bottom: none;
		.close{
			margin: 0;
			padding: 0;
		}
	}
	.modal-title{font-weight: 300;}
	.modal-body{
		padding: 0 4rem 3rem;
	}
	.contact-detal-dv{
		.info-list{
			margin-left: 1rem;
			li{
				margin-bottom: 0.5rem;
				@extend %d-flex;
				.icon{
					margin-right: 1rem;
					width: 24px;
					height: 24px;
				}
			}
		}
	}
	.modal-footer{
		@extend %d-flex;
		justify-content: space-between;
	}
}

// checkbox
.tick-bx {
	position: relative;
	.input-tick{
		width: 24px;
		margin-right: 5px;
		position: relative;
		input[type="checkbox"]{
			visibility: hidden;
		}
		label{
			border: 1px solid $color-site;
			border-radius: 3px;
			cursor: pointer;
			height: 18px;
			width: 18px;
			left: 0;
			position: absolute;
			top: 0;
			margin-bottom: 0;
			&:after{
				border: 2px solid $color-hover;
				border-top: none;
				border-right: none;
				content: "";
				height: 6px;
				left: 3px;
				opacity: 0;
				position: absolute;
				top: 4px;
				transform: rotate(-45deg);
				width: 10px;
			}
		}
		// input[type="checkbox"]:checked + label{
		// 	background-color: #5ed3cb;
		// }
		input[type="checkbox"]:checked + label:after {
			opacity: 1;
		}
	}
	.txt{
		width: calc(100% - 35px);
		line-height: 18px;
		text-align: left;
	}
}

.select-round{
	position: relative;
	display: inline-block;
	margin-bottom: 1.5rem;
	&:after{
		content: '\f107';
		font: normal normal normal 14px/1 FontAwesome;
		position: absolute;
		right: 20px;
		top: 7px;
		font-size: 20px;
	}
	select{
		background: none;
		min-width: 100px;
		border-radius: 3rem;
		background: none;
		border: 1px solid $color-site;
		padding: 0px 25px;
		font-weight: 300;
		@include appearance(none);
		&:hover,&:focus{
			outline:none;
		}
	}
}

.table{
	td,th{
		padding: 5px;
	}
} 
