// index style

.login-sec{
	height: 100vh;
	text-align: center;
	background-color: $color-hover;
	background-image: url(../img/login-bg.jpg);
	background-position: center;
	background-size: cover;
	@extend %d-flex;
	@extend %flex-wrap;
	justify-content: center;
	align-items: center;
}

.logo-bx{
	height: 120px;
	width: 120px;
	padding: 0.3rem;
	border-radius: 100%;
	background-color: $color-white;
	margin: 0 auto 4rem;
	@extend %d-flex;
	@extend %flex-column;
	justify-content: center;
	span{
		display: inline-block;
		line-height: 1rem;
	}
}

.login-form-dv{
	max-width: 550px;
	margin: 0 auto;
	background-color: $color-white;
	padding: 4rem;
	h2{
		font-weight: 400;
		font-size: 30px;
		line-height: 34px;
		margin-bottom: 2.5rem;
		span{
			display: block;
		}
	}
	.input-bx{
		margin-bottom: 1.5rem;
	}
	.common-btn{
		width: 100%;
		padding: 0.5rem 1rem;
	}
}

.password-bx{
	position: relative;
	.eye{
		position: absolute;
		right: 15px;
		top: 7px;
		cursor: pointer;
		display: inline-block;
	}
}